@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playwrite+CO+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}
body {
  background-color: black;
  overflow-x: hidden;
  font-size: 1rem;
}
body::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: #c7c7c7;
  color: black;
}

::-moz-selection {
  background-color: #c7c7c7;
  color: black;
}

::-webkit-selection {
  background-color: #c7c7c7;
  color: black;
}

@media only screen and (min-width: 768px) {
  body{
    font-size: 1.2rem;
  };
}
@media only screen and (min-width: 1025px) {
  body{
    font-size: 1.5rem;
  };
}

.main {
  background-image: url("assets/images/background2.jpg");
  background-size: max(
    1200px,
    100vw
    ); 
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  position:relative;
}

.main .box {
  position:absolute;
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  top:0;
}
.sepration{
  height: 8px;
  background-color: rgb(46 , 44 , 44);
}
nav {
  max-width: 100%;
  margin: auto;
  padding: 1.5rem 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  filter:brightness(1.2);
}
nav .btn-top1 .lang{
   display:none;
}
nav #logo-Img{
  padding-right: 0.5rem;
}
nav #logo-Img img {
  width: 115px;
}
.upper-btn{
  margin-left: 0.5rem;
  position: relative;
  bottom: 0.2rem;
  display: flex;
}
.btn {
  padding: 0.5em 1em;
  font-weight: bold;
  color: white;
  background-color: rgba(23, 23, 23, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(246, 238, 238, 0.5);
  cursor: pointer;
}
.btn-top1 {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
img[alt="lang-icon"] {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
img[alt="down-arrow"] {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.btn-top2 {
  background-color: red;
  border: none;
}
.btn-top2:hover {
  background-color: #be1e1e;
  transition: background-color 0.5s ease-in-out;
}
@media only screen and (min-width: 600px) {
  nav {
     padding: 1rem;
  }
  nav .btn-top1 .lang{
    display:block;
  }
}

/* Below we need to update */
.hero {
  height: calc(96% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
  gap: 2%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 30px;
}

@media only screen and (min-width: 600px){
    .hero{
       height: calc(98% - 62px);
    }
}
@media only screen and (min-width: 992px){
  .hero{
    height: calc(97.5% - 62px);  
  }    
}

@media only screen and (max-width: 350px){
    .hero{
       padding: 0.5rem 30px;
    }
}
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 2.5rem;
}
@media only screen and (min-width: 600px){
  .hero >:nth-child(1){
    font-size: 3rem;
  }
}
.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 700px){
  .hero-buttons {
    flex-direction: row;
  }
}
.hero-buttons input {
  width: 90vw;
  padding: 1rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
  box-sizing: border-box;
  font-weight: 600;
  font-size:large;
}
@media only screen and (min-width: 700px ) {
   .hero-buttons input{
      width: 70vw;
   }
}
@media only screen and (min-width: 1025px) {
   .hero-buttons input{
      width: 40vw;
   }   
}

.btn-red-large {
  background-color: red;
  color: white;
  padding: 1rem 0.5rem;
  width: 35%;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 600;
}
.btn-red-large:hover {
  background-color: #cd2020;
  transition: background-color 0.5s ease-in-out;
}
.btn-red-large img{
  height: 20px;
  width: 20px;
  margin-left: 0.2rem;
}

@media only screen and (max-width: 455px ){
   .btn-red-large{
      width: 50%;
   }
}

/* Bottom Design */
.first{
  position: relative;
  z-index: 0; /*Need to be update*/
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.bottom-head-1 > p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px){
    .first{
      padding-left: 3rem;
      padding-top: 2rem;
      padding-bottom: 0rem;
    }
}
.bottom-head-2{
  display: flex;
  padding-bottom: 1.5rem;
  gap: 2.5%;
  font-size: 1.4rem;
}
.left-btn , .right-btn{
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(23, 23, 23, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(246, 238, 238, 0.5);
  cursor:pointer;
}

/* slider */
.slider-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(10 , 1fr);
  gap: 18px;
  padding: 1rem;
  overflow-x: auto;
  scrollbar-width: none;

}
.card::-webkit-scrollbar {
  display: none;
}

.card img {
  border-radius: 10px;
  cursor: pointer;
}

.card img:hover {
  transform: scale(1.1);
  transition: transform 0.35s ease-in-out;
}

@media only screen and (max-width: 370px){
   .card{
     gap: 15%;
   }
   .card img{
      height: 220px;
   }
}
@media only screen and (min-width: 700px){
   .card{
     gap: 6%;
   }
}
@media only screen and (min-width: 1025px){
   .card{
      gap: 4%;
   }
}

.right-slider-btn,
.left-slider-btn {
  margin: auto 1rem;
  padding: 3rem 0.2rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  cursor: pointer;
  border: none;
  outline: none;
}
.left-slider-btn:hover , .right-slider-btn:hover {
  background-color: #3d3d3d;
}


@media only screen and (min-width: 992px) {
     .slider-wrapper{
         width: 90%;
     }
}

/* Bottom-card-design */
.third{
  padding-top: 3rem;
  box-sizing: border-box;
}
.third .bottom-head{
  padding: 1.5rem 1rem 0rem 3rem;
  box-sizing: border-box;
}

.bottom-card {
  display:grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1 , 1fr);
  gap: 16px; 
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  position: relative;
}

.bottom-card > .botm-card-1 {
  padding: 0rem 1rem;
  border-radius: 20px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  height: 18rem; 
}

.botm-card-1 :nth-child(1) {
 font-size: 1.4rem;
 color: white;
 padding-top: 20px;
}
.botm-card-1 :nth-child(2) {
 color: white;
 padding-top: 20px;
 font-size: 1rem;
 filter: opacity(0.7);
}

.Img-container-1 , .Img-container-2 , .Img-container-3 , .Img-container-4 {
 position: absolute;
 bottom: 75%;
 right: 8%;
 padding-right: 1rem;
 padding-bottom: 0.2rem;
}
.Img-container-2{
  bottom: 50.5%;
}
.Img-container-3{
  bottom: 25.5%;
}
.Img-container-4{
  bottom: 1%;
}


@media only screen and (min-width: 960px){
  .bottom-card {
    grid-template-columns: repeat(2 , 1fr);
  }
  .bottom-card > .botm-card-1 {
    height: 20rem; 
  }
  .Img-container-1{
    bottom: 50%;
    right: 52%;
  }
  .Img-container-2{
    bottom: 50.5%;
    right: 5%;
  }
  .Img-container-3{
    bottom: 0.7%;
    right: 52%;
  }
  .Img-container-4{
    bottom: 1.5%;
    right: 5%;
  }
  
}
@media only screen and (min-width: 1280px){
   .bottom-card{
      grid-template-columns: repeat(4 , auto);
   }
   .bottom-card > .botm-card-1{
      height: 22rem;
      width: 15rem;
   }
   .Img-container-1{
    bottom: 2%; 
    right: 73%;

   }
   .Img-container-2{
    bottom: 2%;
    right: 51%;
  }
  .Img-container-3{
    bottom: 0.7%;
    right: 28%;
  }
  .Img-container-4{
    bottom: 2%;
  }
  
}

/* Bottom-card-design-2 */
.four {
  margin: auto;
  padding-top: 3rem;
  color: white;
}
.below-bottom-head{
  font-size: 1.5rem;
  margin-left: 3.3rem;
  padding-bottom:1rem;
}
.bottom-tab {
  display: grid;
  grid-template-rows: repeat(8 , 5.5rem);
  grid-template-columns: 80vw;
  justify-content: center;
  gap: 10px;
}
.bottom-tab-1 {
  background-color: #2d2d2d;
  display: grid;
  align-items: center;
  font-size: 1.4rem;
  color: #fffffff8;
}

@media only screen and (max-width: 576px){
  .bottom-tab-1{
     font-size: 1.2rem;
  }
}
.bottom-tab-1:hover {
  margin: 0 0 0.5rem 0;
  background-color: #88878780;
  color: #ffffff;
  transition-duration: background-color 250ms cubic-bezier(0.4, 0, 0.68, 0.06);
  cursor: pointer;
}
.bottom-tab-1-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.bottom-tab-1-head :last-child{
   display:flex;
   justify-content: center;
   align-items: center;
}

.five{
   margin-bottom: 3rem;
}
.last-bottom-container-1 {
  color: white;
  text-align: center;
}

.last-bottom-container-2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 12px;
}
.last-bottom-container-2 input{
  padding: 1rem 0.8rem;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
  background-color: #17171733;
  border: 1px solid #f6eeee80;
  color: white;
  width: 85%;
  outline: none;
}
.last-bottom-container-2 .last-btn{
     width: 28%;
     margin-top: 1rem;
}
input:focus {
 outline: 2px inset white;
}

@media only screen and (max-width: 510px){
   .last-bottom-container-2 .last-btn{
      width: 50%;
   }
}
@media only screen and (min-width: 795px){
  .last-bottom-container-2{
       flex-direction: row;
  }
  .last-bottom-container-2 input{
     width: 50%;
  }
  .last-bottom-container-2 .last-btn{
     margin-top: 0rem;
     width: 20%;
  }
}
/* Footer Styles */
footer{
   margin: 2.5rem 2.5rem 2rem 2.5rem;
}
.footer-para {
  display: flex;
  color: white;
}

.footer-para >p span{
  margin-left: 0.5rem;
  text-decoration: underline;
}
.contacts {
  display: grid;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  margin: 3rem 0rem;
  grid-template-columns: repeat(1, 1fr);
}
li {
  color: white;
  text-decoration: underline;
  list-style-type: none;
  line-height:  3em;
  opacity: 0.7;
  pointer-events: none;
}
.hoverable {
  pointer-events: auto;
  cursor: pointer;
}
.last-footer-para{
  color: white;
  margin-top: 2rem;
}
@media only screen and (min-width: 992px ){
   footer .contacts{
     font-size: 1.2rem;
   }
}

@media only screen and (min-width: 520px){
  .contacts{
      grid-template-columns: repeat(2 , 1fr);
  }
}
@media only screen and (min-width: 840px){
  .contacts{
    grid-template-columns: repeat(4 , 1fr);
  }
}
